<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        body {
            background-image: url('/static/OIP.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>
<body>
    <div class="center-container">
        <h2>Welcome to Dashboard</h2>
        <button onclick="location.href='calculate.html'">Calculator</button><br><br>
        <button onclick="location.href='history.html'">View History</button><br><br>
        <button onclick="location.href='clear-history.html'">Clear History</button><br><br>
        <button onclick="location.href='home.html'">Home</button>
    </div>
</body>
</html>
